<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container " style="  background: linear-gradient(
    132deg,
    rgb(242, 24, 24) 0%,
    rgb(250, 183, 89) 30%,
    rgb(238, 230, 67) 40%,
    rgba(103, 243, 64, 0.637) 50%,
    rgb(238, 230, 67)80%
  );

  background-size: 600% 600%;
  animation: bgAnimation 10s infinite linear;  border-radius: 5px;">
    <i class="fas fa-key fa-6x" style="margin-top: 2rem;"></i>
    <h1 class="display-3">Welcome..</h1>
    <!-- <p class="secret-text">Jack Bauer is my hero.</p> -->

    <div class="secret-message">
<% for(let i=0; i<userWithSecrets.length; i++){ %>
    <p class="secret-text" style="margin: 1rem 0"> <span class="span">>> </span>   <%= userWithSecrets[i].secretText %>  </p>
  <% } %>
    </div>

    <hr />

    <form class='form' action="/submitIt" method="POST">
      <input class="input" type="text" placeholder="Message" name="message" autocomplete="off" />
      <button class="btn btn-dark btn-lg enter">Enter</button>
    </form>
    <hr />
    <a class="btn btn-light btn-lg logout" href="/logout" role="button">Log Out</a>

    
  </div>
</div>


<script>
  // Wait for the page to finish rendering
  window.addEventListener('load', function() {
    // Select the secret-message element
    var secretMessage = document.querySelector('.secret-message');

    // Scroll the element to the bottom
    secretMessage.scrollTop = secretMessage.scrollHeight;
  });
</script>

<%- include('partials/footer') %>
